
html {
    height: 100%;
    box-sizing: border-box;

}

b{
color:#1BB280;
}

body{
    position: relative;
    margin: 0;
    padding:0;
    min-height: 100%;
    background-color: #FFFFFF;
}

#generate-title{
    padding-left:10px;
}
/*#header{
    width:100%;
    background-color:#1BB280;
    margin:0;
}*/



h2{
    font-size: 30px;
    color:white;
    font-family: "Helvetica";
    letter-spacing: 2px;
    margin-top:0;

    
}

b{
    color:#1BB280;
    
}
p{
    padding-left:15px;
}

ul {
  list-style-type: none; /* no default bullets */
    
}

li { 
}

li:before { /* the custom styled bullets */
  background-color: #1BB280;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  height: 5px;
  width: 5px;
}


#generate-title{
    background-color:#1BB280;
}


.tab {
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #333333;
}
#centerthis{
    margin-left: auto;
    margin-right: auto;
    
}

#centerthis tr td{
    padding-left:5px;
    padding-right:5px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    padding: 5px;
    transition: 0.3s;
    color: #FFFFFF;
    font-family: "Century Gothic";
    font-size: 12px;
    border-radius:15px;
    background-color: #333333;
    color:white;
    letter-spacing: 1px;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #1BB280;
}

/* Create an active/current tablink class */
.tab button.active {
        border: 1px solid #1BB280;
    background-color: #1BB280;
    border-radius:15px;
    color:white;

}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}